@import "assets/scss/i-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg#{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-assignment .path1 {
  &:before {
    content: $icon-assignment-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-assignment .path2 {
  &:before {
    content: $icon-assignment-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-assignment .path3 {
  &:before {
    content: $icon-assignment-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-saved-views .path1 {
  &:before {
    content: $icon-saved-views-path1;  
    color: rgb(0, 186, 124);
  }
}
.icon-saved-views .path2 {
  &:before {
    content: $icon-saved-views-path2;  
    margin-left: -1em;  
    color: rgb(158, 169, 172);
  }
}
.icon-calendar-mark .path1 {
  &:before {
    content: $icon-calendar-mark-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-calendar-mark .path2 {
  &:before {
    content: $icon-calendar-mark-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-calendar-mark .path3 {
  &:before {
    content: $icon-calendar-mark-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-calendar-mark .path4 {
  &:before {
    content: $icon-calendar-mark-path4;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-calendar-mark .path5 {
  &:before {
    content: $icon-calendar-mark-path5;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-calendar-mark .path6 {
  &:before {
    content: $icon-calendar-mark-path6;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-calendar-mark .path7 {
  &:before {
    content: $icon-calendar-mark-path7;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-calendar-mark .path8 {
  &:before {
    content: $icon-calendar-mark-path8;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-book-edit .path1 {
  &:before {
    content: $icon-book-edit-path1;  
    color: rgb(0, 186, 124);
  }
}
.icon-book-edit .path2 {
  &:before {
    content: $icon-book-edit-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-book-edit .path3 {
  &:before {
    content: $icon-book-edit-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-book-edit .path4 {
  &:before {
    content: $icon-book-edit-path4;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-book-edit .path5 {
  &:before {
    content: $icon-book-edit-path5;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-favorite-award .path1 {
  &:before {
    content: $icon-favorite-award-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-favorite-award .path2 {
  &:before {
    content: $icon-favorite-award-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-favorite-award .path3 {
  &:before {
    content: $icon-favorite-award-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-favorite-award .path4 {
  &:before {
    content: $icon-favorite-award-path4;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-clipboard-check .path1 {
  &:before {
    content: $icon-clipboard-check-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-clipboard-check .path2 {
  &:before {
    content: $icon-clipboard-check-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-clipboard-check .path3 {
  &:before {
    content: $icon-clipboard-check-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-security-shield .path1 {
  &:before {
    content: $icon-security-shield-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-security-shield .path2 {
  &:before {
    content: $icon-security-shield-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-security-shield .path3 {
  &:before {
    content: $icon-security-shield-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-list-bullets .path1 {
  &:before {
    content: $icon-list-bullets-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-list-bullets .path2 {
  &:before {
    content: $icon-list-bullets-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-list-bullets .path3 {
  &:before {
    content: $icon-list-bullets-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-list-bullets .path4 {
  &:before {
    content: $icon-list-bullets-path4;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-list-bullets .path5 {
  &:before {
    content: $icon-list-bullets-path5;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-list-bullets .path6 {
  &:before {
    content: $icon-list-bullets-path6;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-clock-nine-to-five .path1 {
  &:before {
    content: $icon-clock-nine-to-five-path1;  
    color: rgb(0, 186, 124);
  }
}
.icon-clock-nine-to-five .path2 {
  &:before {
    content: $icon-clock-nine-to-five-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-clock-nine-to-five .path3 {
  &:before {
    content: $icon-clock-nine-to-five-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-check .path1 {
  &:before {
    content: $icon-user-check-path1;  
    color: rgb(0, 186, 124);
  }
}
.icon-user-check .path2 {
  &:before {
    content: $icon-user-check-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-check .path3 {
  &:before {
    content: $icon-user-check-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-edit .path1 {
  &:before {
    content: $icon-user-edit-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-edit .path2 {
  &:before {
    content: $icon-user-edit-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-edit .path3 {
  &:before {
    content: $icon-user-edit-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-user-profile .path1 {
  &:before {
    content: $icon-user-profile-path1;  
    color: rgb(0, 186, 124);
  }
}
.icon-user-profile .path2 {
  &:before {
    content: $icon-user-profile-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-user-profile .path3 {
  &:before {
    content: $icon-user-profile-path3;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-profile .path4 {
  &:before {
    content: $icon-user-profile-path4;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-profile .path5 {
  &:before {
    content: $icon-user-profile-path5;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-user-profile .path6 {
  &:before {
    content: $icon-user-profile-path6;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-graph-bar .path1 {
  &:before {
    content: $icon-graph-bar-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-graph-bar .path2 {
  &:before {
    content: $icon-graph-bar-path2;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-graph-bar .path3 {
  &:before {
    content: $icon-graph-bar-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-graph-bar .path4 {
  &:before {
    content: $icon-graph-bar-path4;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-warning .path1 {
  &:before {
    content: $icon-warning-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-warning .path2 {
  &:before {
    content: $icon-warning-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-warning .path3 {
  &:before {
    content: $icon-warning-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-warning .path4 {
  &:before {
    content: $icon-warning-path4;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-script .path1 {
  &:before {
    content: $icon-script-path1;  
    color: rgb(109, 126, 130);
  }
}
.icon-script .path2 {
  &:before {
    content: $icon-script-path2;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-script .path3 {
  &:before {
    content: $icon-script-path3;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-script .path4 {
  &:before {
    content: $icon-script-path4;  
    margin-left: -1em;  
    color: rgb(0, 186, 124);
  }
}
.icon-script .path5 {
  &:before {
    content: $icon-script-path5;  
    margin-left: -1em;  
    color: rgb(109, 126, 130);
  }
}
.icon-clear {
  &:before {
    content: $icon-clear;     
    color: #b8c2c4;
  }
}
.icon-column {
  &:before {
    content: $icon-column;     
    color: #9ea9ac;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;     
    color: #9ea9ac;
  }
}
.icon-course-activity {
  &:before {
    content: $icon-course-activity;     
    color: #9ea9ac;
  }
}
.icon-course-bundle {
  &:before {
    content: $icon-course-bundle;     
    color: #9ea9ac;
  }
}
.icon-course-completion {
  &:before {
    content: $icon-course-completion;     
    color: #9ea9ac;
  }
}
.icon-course-evaluation {
  &:before {
    content: $icon-course-evaluation;     
    color: #9ea9ac;
  }
}
.icon-course {
  &:before {
    content: $icon-course;     
    color: #9ea9ac;
  }
}
.icon-curriculum {
  &:before {
    content: $icon-curriculum;     
    color: #9ea9ac;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;     
    color: #b8c2c4;
  }
}
.icon-download {
  &:before {
    content: $icon-download;     
    color: #b8c2c4;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;     
    color: #9ea9ac;
  }
}
.icon-equivalent {
  &:before {
    content: $icon-equivalent;     
    color: #9ea9ac;
  }
}
.icon-expiring-certification {
  &:before {
    content: $icon-expiring-certification;     
    color: #9ea9ac;
  }
}
.icon-expiring-licenses {
  &:before {
    content: $icon-expiring-licenses;     
    color: #9ea9ac;
  }
}
.icon-filter {
  &:before {
    content: $icon-filter;     
    color: #9ea9ac;
  }
}
.icon-group {
  &:before {
    content: $icon-group;     
    color: #9ea9ac;
  }
}
.icon-learning-progress {
  &:before {
    content: $icon-learning-progress;     
    color: #9ea9ac;
  }
}
.icon-link {
  &:before {
    content: $icon-link;     
    color: #9ea9ac;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;     
    color: #b8c2c4;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #9ea9ac;
  }
}
.icon-plus-1 {
  &:before {
    content: $icon-plus-1;     
    color: #b8c2c4;
  }
}
.icon-preview {
  &:before {
    content: $icon-preview;     
    color: #9ea9ac;
  }
}
.icon-report {
  &:before {
    content: $icon-report;     
    color: #9ea9ac;
  }
}
.icon-role-utilization {
  &:before {
    content: $icon-role-utilization;     
    color: #9ea9ac;
  }
}
.icon-run {
  &:before {
    content: $icon-run;     
    color: #b8c2c4;
  }
}
.icon-save {
  &:before {
    content: $icon-save;     
    color: #9ea9ac;
  }
}
.icon-saved-views1 {
  &:before {
    content: $icon-saved-views1;     
    color: #9ea9ac;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #9ea9ac;
  }
}
.icon-self-entered {
  &:before {
    content: $icon-self-entered;     
    color: #9ea9ac;
  }
}
.icon-share {
  &:before {
    content: $icon-share;     
    color: #9ea9ac;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;     
    color: #9ea9ac;
  }
}
.icon-student-listing {
  &:before {
    content: $icon-student-listing;     
    color: #9ea9ac;
  }
}
.icon-transcript {
  &:before {
    content: $icon-transcript;     
    color: #9ea9ac;
  }
}
.icon-upcoming-classes {
  &:before {
    content: $icon-upcoming-classes;     
    color: #9ea9ac;
  }
}
.icon-user {
  &:before {
    content: $icon-user;     
    color: #9ea9ac;
  }
}
.icon-course-activity1 {
  &:before {
    content: $icon-course-activity1;     
    color: #9ea9ac;
  }
}

