// General Style
@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AddingtonCF-Bold.otf");
  src: url("../fonts/AddingtonCF-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AddingtonCF-ExtraBold.otf");
  src: url("../fonts/AddingtonCF-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AddingtonCF-DemiBold.otf");
  src: url("../fonts/AddingtonCF-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Light Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-pills .nav-link{
  border-radius: 1.55rem !important;
}

.nav-pills .nav-link.active {
  color: #fff !important;
}
.sserif-bold {
  font-family: Addington, serif;
  font-weight: 600;
}

.sserif-normal {
  font-family: Addington, serif;
  font-weight: 400;
}

.form-label {
  margin-bottom: .3rem!important;
}

.link-deco-none {
  text-decoration: nonep;
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 26px;
}

.h3 {
  font-size: 22px;
  color: $gray-900
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 11px !important;
  color: $gray-800 !important;
  font-weight: 500 !important;
}

hr {
 color: $gray-300 !important
}

.secondLevel.disabled > * {
  color: $gray-500
}

.secondLevel a {
  color: $gray-800;
}

.link-deco.active, .link-deco:focus {
  border-bottom: 3px $green solid;
  color: $green;
}

.link-deco.inactive {
  border-bottom: 3px $gray-400 solid;
  color: $gray-400;
}

.link-deco.disabled {
  border-bottom: 2px $gray-300 solid;
  color: $gray-600;
}

.none {
  border-bottom: 2px #fff solid;
}

.input-group-text {
  background-color: #fff !important;
}

.text-warning {
  color: $pink !important;
  font-weight: 600;
}


/* Important part */
.modal-report .modal-dialog {
  overflow-y: initial !important
}

.modal-report .modal-body {
/*  height: 80vh;*/
  overflow-y: auto;
}

.text-small, .icon-asterisk {
  font-size: 11px !important;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-chevron-left:before {
   content: "\f053";
 }

.fa-chevron-right:before {
  content: "\f054";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-cog:before {
  content: "\f013";
}

.fa-check-circle:before {
content: "\f058";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-th {
 content: "\f00a";
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#alertMessage, .savedForm {
  display: none;
}

.App {
  overflow-x: hidden;
}

.text-xsmall {
  font-size: 11px !important;
}

/****************** custom fonts *****************/

@font-face {
  font-family: 'report-icons';
  src:
          url('../fonts/report-icons.ttf') format('truetype'),
          url('../fonts/report-icons.woff') format('woff'),
          url('../fonts/report-icons.svg#report-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.svg {
  height: 20px;
  width: 20px;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'report-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'report-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.check-circle:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e912";
}
.icon-user-box:before {
  content: "\e902";
}
.icon-course-bundle:before {
  content: "\e903";
}
.icon-admin-entered:before {
  content: "\e904";
}
.icon-alert:before {
  content: "\e905";
}
.icon-clear:before {
  content: "\e906";
}
.icon-course-completion:before {
  content: "\e907";
}
.icon-details:before {
  content: "\e908";
}
.icon-draft:before {
  content: "\e909";
}
.icon-evaluation-structure:before {
  content: "\e90a";
}
.icon-evaluation:before {
  content: "\e90b";
}
.icon-live-class:before {
  content: "\e90c";
}
.icon-open:before {
  content: "\e90d";
}
.icon-analysis:before {
  content: "\e90e";
}
.icon-test-results:before {
  content: "\e90f";
}
.icon-undo:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
.icon-virtual-class:before {
  content: "\e913";
}
.icon-virtual-live:before {
  content: "\e915";
}
.minus-check-box:before {
  content: "\e916";
}
.check-box:before {
  content: "\e917";
}
.check-box-selected:before {
  content: "\e918";
}
.icon-arrow-left:before {
  content: "\e919";
}
.icon-equivalent1:before {
  content: "\e91a";
}
.icon-assignment-structure:before {
  content: "\e91b";
}
.icon-assignment-summary:before {
  content: "\e91c";
}
.icon-assignment:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e91e";
}
.icon-download:before {
  content: "\e91f";
}
.icon-edit:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-class-registration:before {
  content: "\e922";
}
.icon-class-roster:before {
  content: "\e923";
}
.icon-column:before {
  content: "\e924";
}
.icon-copy:before {
  content: "\e925";
}
.icon-arrow:before {
  content: "\e926";
}
.icon-filter:before {
  content: "\e927";
}
.icon-group:before {
  content: "\e928";
}
.icon-learning-progress:before {
  content: "\e929";
}
.icon-link:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-plus:before {
  content: "\e92c";
}
.icon-preview:before {
  content: "\e92e";
}
.icon-report:before {
  content: "\e92f";
}
.icon-role-utilization:before {
  content: "\e930";
}
.icon-run:before {
  content: "\e931";
}
.icon-save:before {
  content: "\e932";
}
.icon-saved-views:before {
  content: "\e933";
}
.icon-search:before {
  content: "\e934";
}
.icon-self-entered:before {
  content: "\e935";
}
.icon-share:before {
  content: "\e936";
}
.icon-sort:before {
  content: "\e937";
}
.icon-student-listing:before {
  content: "\e938";
}
.icon-upcoming-classes:before {
  content: "\e93a";
}
.icon-course:before {
  content: "\e940";
}
.icon-curriculum:before {
  content: "\e941";
}
.icon-expiring-certification:before {
  content: "\e942";
}
.icon-expiring-licenses:before {
  content: "\e943";
}
.icon-hamburger:before {
  content: "\e944";
}
.icon-course-activity:before {
  content: "\e963";
}
.cog:before {
  content: "\f013";
}
.gear:before {
  content: "\f013";
}
.angle-double-left:before {
  content: "\f100";
}
.angle-double-right:before {
  content: "\f101";
}
.angle-double-up:before {
  content: "\f102";
}
.angle-double-down:before {
  content: "\f103";
}
.angle-left:before {
  content: "\f104";
}
.angle-right:before {
  content: "\f105";
}
.angle-up:before {
  content: "\f106";
}
.angle-down:before {
  content: "\f107";
}
.user-md:before {
  content: "\f0f0";
}
.icon-settings:before {
  content: "\e901";
  color: #3e5359;
}
.icon-account:before {
  content: "\e900";
  color: #3e5359;
}
