// General Style
@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AddingtonCF-Bold.otf");
  src: url("../fonts/AddingtonCF-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AddingtonCF-ExtraBold.otf");
  src: url("../fonts/AddingtonCF-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Addington, serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/AddingtonCF-DemiBold.otf");
  src: url("../fonts/AddingtonCF-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Open Sans Light Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "report-icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/report-icons.woff") format("woff"), url("../fonts/report-icons.ttf") format("truetype"), url("../fonts/report-icons.svg") format("svg");
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus, :focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline-width: 0;
  box-shadow: 0 0 0 .1rem rgba(var(--bs-btn-focus-shadow-rgb),.5) !important;
  --bs-btn-focus-box-shadow: 0 0 0 .5rem rgba(var(--bs-btn-focus-shadow-rgb),.5) !important;
}

.nav-pills .nav-link{
  border-radius: 1.55rem !important;
}

.nav-pills .nav-link.active {
  color: #fff !important;
}
.sserif-bold {
  font-family: Addington, serif;
  font-weight: 600;
}

.form-label {
  margin-bottom: .3rem!important;
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 26px;
}

.h3 {
  font-size: 22px;
  color: #0c272f
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 11px !important;
  color: #3E5359 !important;
  font-weight: 500 !important;
}

hr {
 color: #E6EAEA !important
}


.link-deco {
  color: #9EA9AC;
}

.link-deco.active, .link-deco:focus {
  border-bottom: 2px #00ba7c solid;
  color: #0C272F;
}

.link-deco.inactive {
  border-bottom: 2px #E6EAEA solid;
  color: #9EA9AC;
}

.none {
  border-bottom: 2px #fff solid;
}

.input-group-text {
  background-color: #fff !important;
}


.btn-success {
  color: #fff !important
}
/*
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 5px 0;
}

p {
  color: $gray-700;
}


// Import Results
.import-results-col {
  padding: 10px;
  margin-top: 20px;
}


.import-result-heading {
  height: 27px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 3px;
  margin-left: 5px;

  small {
    font-weight: 400;
    color: #999;
    display: inline-block;
    font-size: 75%;
  }
}

.import-result-container-single {
  height: 84px;
  width: 100%;
  border: 1px solid #D7DBE0;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px -1px rgba(69, 90, 100, 0.3);
  display: inline-block;
  position: relative;
  margin: 3px;
}

.import-result-container {
  height: 84px;
  width: 100%;
  border: 1px solid #D7DBE0;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px -1px rgba(69, 90, 100, 0.3);
  display: inline-block;
  margin: 3px;
  padding: 15px 10px;

  .progress {
    margin-top: 15px;
    margin-right: 45px;
    margin-left: 5px;
    height: 7px;
  }
}

.import-result-single {
  height: 84px;
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  padding: 15px 10px;

  .progress {
    margin-top: 16px;
    margin-right: 45px;
    margin-left: 10px;
    height: 7px;
  }
}

.report.loading .import-result-section .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  z-index: 10;
  height: 100%;
  border-radius: 8px;
}

.icon-spinner {
  position: absolute;
  font-size: 48px !important;

}

.icon-edit, .icon-pencil, .icon-trash-o,
a.icon-edit, a.icon-pencil, a.icon-trash-o {
  font-size: 24px;
  height: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    text-decoration-color: transparent;
  }
}

.import-result {
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.import-result-value {
  color: #999;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

.fade-in {
  animation: fadeInOut ease 5s;
  -webkit-animation: fadeInOut ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -30px;

  }

  to {
    margin-top: 30px;

  }
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.slide {
  -webkit-animation-name: slide;
  animation-name: slide;
}

.col-lg-6 {
  .import-result-percent {
    top: 50px;
  }

  .import-result-container {
    height: 84px;
  }
}

.col-md-12 {

  .import-result-container {
    height: 100px;
    padding: 10px;
  }

  .import-result-percent {
    top: 75px;
  }
}

.progress-bar-danger {
  background-color: #d9534f;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.import-result-percent {
  font-size: 12px;
  position: absolute;
  top: 50px;
  right: 22px;
  color: #999;

}

.import-result-container.import-result-success .import-result-percent,
.import-result-container.import-result-error .import-result-percent {
  color: #999;
}

.import-result-container.no-results .import-result-percent {
  color: #999 !important;
}

.import-results-header {
/*  width: 75%;
  height: 50px;
  position: absolute;*/

.date-range .date-selector .control-label {
  font-size: 16px;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: 600;
}

.modal {
  .modal-title {
    font-size: 16px;
    font-weight: 500;
  }

  .control-label {
    font-size: 14px;
    font-weight: 600;
  }

  h1 {
    color: #333;
    font-size: 22px;
    line-height: 30px;
  }

  table th,
  table td {
    color: #333;
    font-size: 12px;
  }

  h2 small {
    padding-left: 5px;
    font-size: 14px;
    font-style: italic;
  }

  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    height: 34px;
  }
}

.import-results-date-range-label {
  font-size: 18px;
}

.modal-body {
  font-size: 14px;
}

.import-result-container:hover {
  background-color: #f3f3f3;
  text-decoration: none;
}

.modal-admin-lg .modal-dialog {
  width: 900px;
}


/* .modal h2 {
    margin-bottom: 20px;
} */

.import-result-noresults {
  text-align: center;
  padding: 10px;
  color: #999;
  padding-top: 25px;
}

/* Important part */
.modal-report .modal-dialog {
  overflow-y: initial !important
}

.modal-report .modal-body {
  height: 80vh;
  overflow-y: auto;
}

.selectAllCheck {
  display: flex;
  position: relative;
  top: 30px;
  left: 8px;
}


div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  /* margin-top: 15px; */
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  display: none !important;
}

.dataTable .team-action {
  text-align: center;
}

.dataTable .employee {
  width: 250px;
}

table.dataTable {
  margin-top: 0 !important;
}

.dataTable th {
  font-weight: 600;
}

.dataTable,
.dataTable th {
  border: none !important;
}

.dataTable thead th.sorting.sorting_asc,
.display thead th.sorting.sorting_desc,
.display thead th.sorting_asc,
.display thead th.sorting_desc,
table.dataTable thead th.sorting.sorting_asc,
table.dataTable thead th.sorting.sorting_desc,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
  font-weight: 600;
  background-color: transparent !important;
}

.dataTable .odd .sorting_1,
table.dataTable .odd .sorting_1 {
  background-color: transparent !important;
}

.dataTable .even .sorting_1,
table.dataTable .even .sorting_1 {
  background-color: transparent !important;
}

.display thead th.sorting.sorting_asc,
.display thead th.sorting.sorting_desc,
.display thead th.sorting_asc,
.display thead th.sorting_desc,
table.dataTable thead th.sorting.sorting_asc,
table.dataTable thead th.sorting.sorting_desc,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
  background-color: transparent !important;
}

table.dataTable thead span.icon-sort {
  display: inline-block;
  padding-left: 5px;
  font-size: 16px !important;
  padding-right: 10px;
}

/*
table.dataTable thead .sorting span.icon-sort:after {
  opacity: .2;
  content: "\f0dc";
  font-family: icomoon;
}
*/

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .icon-sort:before {
  content: "";
  font-size: 16px;
}

table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before {
  content: "";
}

table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before {
  content: "";
}

table.dataTable thead .sorting span.icon-sort:after {
  opacity:  1;
  content: "\f0dc";
  font-family: icomoon;
}

table.dataTable thead .sorting_desc span.icon-sort:after {
  opacity: 1;
  content: "\f0dd";
  font-family: icomoon;
}

table.dataTable thead .sorting_asc span.icon-sort:after {
  opacity: 1;
  content: "\f0de";
  font-family: icomoon;
}


.dataTables_wrapper::after {
  display: block;
  clear: both;
  content: "";
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 0;
  padding: 0;
}

.label,
.pagination > li {
  display: inline;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.paginate_button.next a,
.paginate_button.previous a,
.paginate_button a {
  height: 30px;
}

.pagination > li > a,
.pagination > li > span {
  margin-left: 0;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {

  width: 20px;
}

.paginate_button.next a i,
.paginate_button.previous a i {
  margin-top: 3px;
  margin-left: -5px;
}

/* .paginate_button.previous a i{
    margin-left: -5px;
}
.paginate_button.next a i{
    margin-right: -5px;
} */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 0;
  padding: 0;
}

.label,
.pagination > li {
  display: inline;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  background-color: $blue;
  border-color: #09c;
  cursor: default;
}

.pagination a,
.pagination span {
  margin-left: 0;
  line-height: 16px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

@media screen and (max-width: 767px) {

  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: right;
  }

  div.dataTables_filter input {
    display: none;
  }
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.studentImportSuccessSummaryBottom,
.studentImportSuccessBottom,
.studentImportErrorDetailBottom,
.studentImportErrorSummaryBottom,
.studentImportProgressSummaryBottom {
  float: right;
  // margin-top: -10px;
  margin-right: 20px;
}

.dataTables_wrapper .bottom {
  text-align: right;
}

.dataTables_length {
  margin-right: 15px;
}

.dataTables_length,
.dataTables_paginate {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

.dataTables_length,
.dataTables_paginate {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

.display thead th.sorting.sorting_desc, .display thead th.sorting_asc, .display thead th.sorting_desc, .team-table thead th.sorting.sorting_asc, table.dataTable thead th.sorting.sorting_asc, table.dataTable thead th.sorting.sorting_desc, table.dataTable thead th.sorting_asc, table.dataTable thead th.sorting_desc {
  font-weight: 700;
}

/*Custom*/
.dataTable-container {
  padding-top: 20px;
  /* margin-top: 10px; */
}

.dataTable-container > .h3 {
  float: left;
  margin-bottom: 20px;
}

.dataTable-container table {
  margin-left: 15px;
  margin-right: 30px;
  width: 97%;
  margin-bottom: 0px;
}

.jobFunctionSuccess .update-day {
  width: 120px !important;
}

.suppMgrImportSuccess, .studentImportSuccess, .jobFunctionImportSuccess, .suppMgrImportProgressSummary, .jobFunctionProgressSummary {
  min-width: 700px;
  table-layout: fixed;
}

div.dataTables_wrapper div.dataTables_length {
  margin-top: 5px;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 60px;
  display: inline-block;
  height: 30px;
}

.modal-dialog.modal-xl {
  max-width: 90vw !important;
}

.update-day {
  width: 110px !important;
}

.institution {
  width: 260px !important;
}

.stud-added {
  width: 90px !important;
}

.updated {
  width: 90px !important;
}

.removed {
  width: 90px !important;
}

.dept-added {
  width: 90px !important;
}

.job-added {
  width: 90px !important;
}

.custom-val-added {
  width: 90px !important;
}

.report-header {
  margin-bottom: 20px;
}

strong {
  font-weight: 700;
}

th {
  font-weight: 600;
}

.top-records-msg {
  display: inline-block;
  height: 20px;
  color: #777;
  font-style: italic;
  margin-bottom: 15px;
}

.change-date-range {
  margin-left: 0 !important;
}

.text-warning {
  color: #ff902b !important;
  font-weight: 600;
}

/*
[class^="report-builder "], [class*="report-builder "] {
  margin-right: 13px;
  color: #bbb;
!*  margin-top: 10px;*!
  text-decoration: none;
  font-size: 15px;
}


[class^="icon-"], [class*=" icon-"] {
  margin-right: 10px;
  color: #bbb;
!*  margin-top: 10px;*!
  font-size: 20px;
}
*/

.text-small, .icon-asterisk {
  font-size: 11px !important;
}


.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.fa-arrow-down:before {
  content: "\f063";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-chevron-left:before {
   content: "\f053";
 }

.fa-chevron-right:before {
  content: "\f054";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-cog:before {
  content: "\f013";
}

.fa-check-circle:before {
content: "\f058";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-th {
 content: "\f00a";
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.checkbox {
  margin: 10px;

  label > input {
    margin-right: 7px;
  }
}

#alertMessage, .savedForm {
  display: none;
}

.App {
  overflow-x: hidden;
}

.text-xsmall {
  font-size: 11px !important;
}

/****************** custom fonts *****************/

@font-face {
  font-family: 'hs-icons';
  src:  url('../fonts/hs-icons.eot?jpm5tw');
  src:  url('../fonts/hs-icons.eot?jpm5tw#iefix') format('embedded-opentype'),
  url('../fonts/hs-icons.ttf?jpm5tw') format('truetype'),
  url('../fonts/hs-icons.woff?jpm5tw') format('woff'),
  url('../fonts/hs-icons.svg?jpm5tw#hs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hs-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'report-icons';
  src:
          url('../fonts/report-icons.ttf') format('truetype'),
          url('../fonts/report-icons.woff') format('woff'),
          url('../fonts/report-icons.svg#report-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.svg {
  height: 20px;
  width: 20px;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'report-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-equivalent1:before {
  content: "\e902";
  color: #9ea9ac;
}
.icon-assignment-structure:before {
  content: "\e903";
  color: #9ea9ac;
}
.icon-assignment-summary:before {
  content: "\e904";
  color: #9ea9ac;
}
.icon-assignment:before {
  content: "\e905";
  color: #9ea9ac;
}
.icon-delete:before {
  content: "\e906";
  color: #b8c2c4;
}
.icon-download:before {
  content: "\e908";
  color: #b8c2c4;
}
.icon-edit:before {
  content: "\e909";
  color: #9ea9ac;
}
.icon-calendar:before {
  content: "\e90a";
  color: #9ea9ac;
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-group:before {
  content: "\e91e";
}
.icon-learning-progress:before {
  content: "\e91f";
}
.icon-link:before {
  content: "\e920";
}
.icon-menu:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\e922";
}
.icon-plus-1:before {
  content: "\e923";
}
.icon-preview:before {
  content: "\e924";
}
.icon-report:before {
  content: "\e925";
}
.icon-role-utilization:before {
  content: "\e926";
}
.icon-run:before {
  content: "\e927";
}
.icon-save:before {
  content: "\e928";
}
.icon-saved-views1:before {
  content: "\e929";
}
.icon-search:before {
  content: "\e92a";
}
.icon-self-entered:before {
  content: "\e92b";
}
.icon-share:before {
  content: "\e92c";
}
.icon-sort:before {
  content: "\e92d";
}
.icon-student-listing:before {
  content: "\e92e";
}
.icon-transcript:before {
  content: "\e92f";
}
.icon-upcoming-classes:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e931";
}
.icon-course-activity1:before {
  content: "\e963";
}
.icon-hstream:before {
  content: "\e900";
}
.icon-bundles:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e011";
}
.icon-star1:before {
  content: "\e012";
}
.icon-assessment:before {
  content: "\e015";
}
.icon-attachment:before {
  content: "\e018";
}

.icon-checklist:before {
  content: "\e023";
}
.icon-class-live:before {
  content: "\e024";
}
.icon-column:before {
  content: "\e90e";
}
.icon-video:before {
  content: "\e031";
}
.layer-group-solid-2:before {
  content: "\e902";
}
.grid_view:before {
  content: "\e903";
}
.cancel:before {
  content: "\e904";
}
.favorite_outline:before {
  content: "\e908";
}
.favorite:before {
  content: "\e909";
}
.section:before {
  content: "\e90a";
}
.apps:before {
  content: "\e90b";
}
.search:before {
  content: "\f002";
}
.my-learning:before {
  content: "\f009";
}
.search-plus:before {
  content: "\f00e";
}
.search-minus:before {
  content: "\f010";
}
.book:before {
  content: "\f02d";
}
.info-circle:before {
  content: "\f05a";
}
.asterisk:before {
  content: "\f069";
}
.bullhorn:before {
  content: "\f0a1";
}
.arrow-circle-up:before {
  content: "\f0aa";
}
.copy:before {
  content: "\f0c5";
}
.caret-down:before {
  content: "\f0d7";
}
.caret-left:before {
  content: "\f0d9";
}
.caret-right:before {
  content: "\f0da";
}
.sort:before {
  content: "\f0dc";
}
.sort-desc:before {
  content: "\f0dd";
}
.sort-asc:before {
  content: "\f0de";
}
.angle-double-left:before {
  content: "\f100";
}
.angle-double-right:before {
  content: "\f101";
}
.angle-double-up:before {
  content: "\f102";
}
.angle-double-down:before {
  content: "\f103";
}
.angle-left:before {
  content: "\f104";
}
.angle-right:before {
  content: "\f105";
}
.angle-up:before {
  content: "\f106";
}
.angle-down:before {
  content: "\f107";
}
.caret-square-o-up:before {
  content: "\f151";
}
.sticky-note:before {
  content: "\f249";
}
.sticky-note-o:before {
  content: "\f24a";
}
.times-rectangle-o:before {
  content: "\f2d4";
}
.icon-online:before {
  content: "\e043";
}
.icon-group-activity:before {
  content: "\e905";
}

/********** from app.css *******/
.enabled {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.import-results-header h2 {
  font-weight: 600;
}

.date-selector {
  font-size: 16px;
  padding-top: 6px;
  font-weight: 600;
}

h2.no-data-found {
  font-size: 30px;
}

.overlay-success {
  position: absolute;
  background-color: rgba(255, 255, 255, .4);
  width: 33%;
  z-index: 8;
  height: 75%;
  left: 220px;
  border-radius: 8px;
  cursor: not-allowed;
}

.overlay-error {
  position: absolute;
  background-color: rgba(255, 255, 255, .4);
  width: 33%;
  z-index: 8;
  height: 75%;
  border-radius: 8px;
  left: 430px;
  cursor: not-allowed;
}

.overlay-inprogress {
  position: absolute;
  background-color: rgba(255, 255, 255, .4);
  width: 33%;
  z-index: 8;
  height: 75%;
  border-radius: 8px;
  cursor: not-allowed;
}

.rw-select > * {
  width: 2.8em;
  height: auto !important;
}

#StartDate.has-error > .rw-widget-picker.rw-widget-container {
  border: 1px solid #a94442;
}

#EndDate.has-error > .rw-widget-picker.rw-widget-container {
  border: 1px solid #a94442;
}

#changeCustomDate {
  color: #23527c;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}

#changeCustomDate:hover,
#changeCustomDate:focus #changeCustomDate:active {
  text-decoration: underline;
  color: #004d66;
  border: none;
  box-shadow: none;
}


table.dataTable thead th,
table.dataTable thead td {
  padding: 10px;
}

.disabled i, .disable-icon i {
  color: #eee !important;
}

.text-large {
  font-size: 32px;
}

