$icomoon-font-family: "report-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow: "\e900";
$icon-filter: "\e91d";
$icon-group: "\e91e";
$icon-learning-progress: "\e91f";
$icon-link: "\e920";
$icon-menu: "\e921";
$icon-plus: "\e922";
$icon-plus-1: "\e923";
$icon-preview: "\e924";
$icon-report: "\e925";
$icon-role-utilization: "\e926";
$icon-run: "\e927";
$icon-save: "\e928";
$icon-saved-views1: "\e929";
$icon-search: "\e92a";
$icon-self-entered: "\e92b";
$icon-share: "\e92c";
$icon-sort: "\e92d";
$icon-student-listing: "\e92e";
$icon-transcript: "\e92f";
$icon-upcoming-classes: "\e930";
$icon-user: "\e931";
$icon-course-activity1: "\e963";

